<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
</dict>
</plist>
